.profile {
    width: 320px;
    text-align: center;
    border-radius: 2px;
    background-color: rgb(243, 246, 249);
}

.description {
    padding: 40px;
    background-color: white;
}

.avatar {
    display: inline;
    width: 120px;
    border-radius: 50%;

}

.name {
    font-weight: 500;
    font-size: 16px;
    /*line-height: 16px;*/
}

.tag {

}

.location {

}

.stats {
    background-color: rgb(243, 246, 249);
}

.label {

}

.quantity {

}