.transactionHistory {
    margin: auto auto;
    width: 500px;
    color: black;
    border-collapse: collapse;
    text-align: center;
}

th {
    padding: 5px 0 5px 0;
    border: 1px solid grey;
    background-color: #00bcd4;
    color: white;
    font-weight: 600;
    font-size: 15px;
}

td {
    padding: 5px 0 5px 0;
    border: 1px solid grey;
    font-weight: 300;
    font-size: 13px;
}

tr:nth-child(even) {
    background-color: #ecf1f4;
}